.gallery {
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery .galleryContent {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2% 0%;
    color: var(--primary-font-color);
    text-align: center;
}

.gallery .galleryContent .imgBox {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 22px;
}

.gallery .galleryContent .imgBox img{
    object-fit: cover;
    object-position: bottom;
}

.gallery .galleryContent .imgBox img {
    height: 100%;
    border-radius: 8%;
}

.gallery .galleryContent h3{
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 5%;
    color: var(--secondary-font-color);

    flex-wrap: wrap;
    text-align: center;

    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Exo 2', sans-serif;
}

.gallery .galleryContent p{
    flex-wrap: wrap;
    text-align: center;
    font-size: 14px;

    overflow: hidden;
    text-overflow: ellipsis;
}
