.body {
    -moz-osx-font-smoothing: grayscale;
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    font-size: 1em;
    font-weight: 300;
}

.banner-image {
    width: 100%;
    height: 100vh;
    padding: 20px;
    margin: 0px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, transparent 70%, #2c2c2c 100%),
        url("../../images/workspace-1280538.jpg");

    display: flex;
    align-items: center;
    color: var(--primary-font-color);
    font-family: "Dancing Script", cursive;
    object-fit: contain;
}

.banner-image section {
    margin-left: 3%;
}

.banner-image section h2 {
    font-size: 2.8em;
    font-weight: bolder;
    font-family: 'Exo 2', sans-serif;
}

.banner-image section h3 {
    font-size: 1.6em;
    font-weight: lighter;
    font-family: 'Exo 2', sans-serif;
}

.banner-image section a {
    color: #7993a0;
    font-size: 1.3em;
    border-bottom: 1px solid #7993a0;
    transition: 0.5s ease;
    font-family: 'Exo 2', sans-serif;
}

.banner-image section a:hover {
    margin-left: 10px;
}

.content-box {
    display: flex;
    flex-direction: column;
}

.content-box h2 {
    display: flex;
    font-size: 2em;
    margin: 10px 0px;
    font-family: Righteous;
}

.courselBox {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 3% 0px;
    background-color: rgb(19, 19, 19);
    margin-left: 0;
    opacity: 0.9;
}

.left {
    display: flex;
    justify-content: left !important;
    text-align: left;
}

.right {
    display: flex;
    justify-content: right !important;
    text-align: right;
}

.content-box {
    font-family: "Caveat", cursive;
    color: var(--primary-font-color);
    font-size: 1.15em;
}

.content-box--aboutMe {
    width: 100%;
}

.content-box-data {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
}

.content-box--aboutMe p {
    margin-bottom: 2%;
    font-family: 'Exo 2', sans-serif;
    font-size: 1em;
}

.content-box--aboutMe2 {
    width: 50%;
    height: 450px;
    padding: 2%;

    display: flex;
    justify-content: center;
}

.content-box--aboutMe2 .image {
    width: auto;
    height: 50vh;
    display: flex;
    justify-content: center;
}

.content-box--contact h3,
h4 {
    text-align: center;
    font-size: .8em;
}

.content-box--contact h3 {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.2em;
}

.content-box--contact form {
    margin-top: 2%;
}

.content-box--contact {
    width: 100%;
    font-family: 'Exo 2', sans-serif;
}

.content-box--contact input {
    display: flex;
    width: 100%;
    color: var(--black-font-color);
    font-family: "Courier New", Courier, monospace;
    border-radius: 16px;
}

.content-box--contact label {
    margin-left: 10px;
}

.content-box--contact .input {
    margin: 2% 0px;
}

.content-box--contact textarea:focus,
input:focus,
select:focus {
    outline: 0;
    box-shadow: none;
}

.content-box--contact input {
    outline: 0;
}

.btn-success {
    background-color: var(--secondary-font-color);
    width: 100%;
    margin: 2% 0px;
    opacity: 0.8;
    transition: 0.4s ease;
}

.btn-success:hover {
    opacity: 1;
}

.not-logged {
    margin: 3% 0px;
    opacity: .4;
}

.content-box--contact h3,
h2 {
    color: var(--secondary-font-color);
}

.content-box--footer {
    width: 100vw;
    background-color: var(--main-bg-color);
    height: 10vh;

    color: var(--primary-font-color);
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Courier New", Courier, monospace;
    font-weight: lighter;
    font-size: .6rem;
    opacity: .5;
    text-align: center;
}

[data-anime] {
    opacity: 0;
    transition: .3s ease;
}

[data-anime='left'] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime='right'] {
    transform: translate3d(50px, 0, 0);
}

[data-anime='top'] {
    transform: translate3d(0, -50px, 0);
}

[data-anime='botton'] {
    transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);

}

/* Responsiviade */


@media all and (max-width: 1050px) {
    .content-box-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100vw;
    }

    .content-box--aboutMe {
        width: 100%;
    }

    .content-box--aboutMe2 {
        width: 100%;
        height: auto;
        padding: 2%;
        display: flex;
        justify-content: center;
    }

    .content-box--aboutMe2 .image {
        display: flex;
        justify-content: center;
        width: auto;
    }

    .content-box--aboutMe p {
        margin: 2%;
    }

    .content-box h2 {
        margin: 0px 30px;
    }
}
